body{ 
  background-color: $main;
  font-family:'Roboto', sans-serif ;
  color: $black;
  font-size: 30px;
  line-height:140%;
}

.container{
  max-width: 1636px;
  margin: 0 auto;
  padding: 0 15px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.search-info__content--clicked {
  width: 12px;
  height: 14px;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  // background-size: 12px, 14px;
  background-image: url('../img/submit.png');
  z-index: 22;
}

.vertical-line{
  width: 100%;
  border:none ;
  background-color:$white;
  height: 3px;
}

@keyframes rotate {
	100% {
		transform: rotate(1turn);
	}
}

.rainbow {
	position: relative;
	z-index: 0;
	border-radius: 10px;
	overflow: hidden;
	padding: 2rem;
	
	&::before {
		content: '';
		position: absolute;
		z-index: -2;
		left: -50%;
		top: -50%;
		width: 200%;
		height: 200%;
		background-color: #399953;
		background-repeat: no-repeat;
		background-size: 50% 50%, 50% 50%;
		background-position: 0 0, 100% 0, 100% 100%, 0 100%;
		background-image: linear-gradient(rgba(130, 128, 128, 0.86), rgba(130, 128, 128, 0.86)), linear-gradient(rgba(204, 204, 204, 0.79), rgba(204, 204, 204, 0.79)), linear-gradient(#756e6e, #756e6e), linear-gradient(#3A3030, #3A3030);
		animation: rotate 4s linear infinite;
	}
	
	&::after {
		content: '';
		position: absolute;
		z-index: -1;
		left: 6px;
		top: 6px;
		width: calc(100% - 12px);
		height: calc(100% - 12px);
		background: white;
		border-radius: 5px;
	}
}