body{ 
  background-color: $main;
  font-family:'Roboto', sans-serif ;
  color: $black;
  font-size: 30px;
}

.container{
  max-width: 1636px;
  margin: 0 auto;
  padding: 0 15px;
	&__small{
		max-width: 750px;
	}
	&__small-1{
		max-width: 1259px;
	}
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.search-info__content--clicked {
  width: 12px;
  height: 14px;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
 	background-size: 12px, 14px;
  background-image: url('../img/submit.png');
  z-index: 22;
}

.vertical-line{
  width: 100%;
  border:none ;
  background-color:$white;
  height: 3px;
	margin: 0 0 15px 0;
}

.select.is-active .select-body{
	display: block;
}

.select{
	position: relative;
	width: 112px;
	height: 40px;
	&-item{
		position: relative;
		@extend %rubik-400;
		font-size: 23px;
		color: $grey2;
		text-align: center;
		background-color: $white;
		transition: background-color .7s linear;
	&:not(:first-child){
		&::before{
				position: absolute;
				display: inline-block;
				text-align: center;
				content: "";
				z-index: 222;
				width:70px;
				border-top:1px solid $black ;
			}
		}
		&:last-child{
			border-bottom-left-radius:6px ;
			border-bottom-right-radius:6px ;
		}
		&:hover{	
			background-color: #ccc;
		}
	}
	&-head{
		display: flex;
		cursor: pointer;
		width: 112px;
		height: 40px;
		background-color: $white;
		border-radius: 8px;
		&__border{
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}
	}
	&-arrow{
		&__img{
			width: 16px;
			height: 32px;
		}
		&__inner{
			display: flex;
			align-items: center;
			flex-shrink: 0;
			justify-content: center;
			margin-left: 2px;
			text-align: center;
			padding-right: 13px;
		}
	}
	&-current{
			@extend %rubik-400;
			font-size: 23px;
			color: $grey2;
	}
	&-body{
		display: none;
		position: absolute;
		border-top: 0;
		left: 0;
		right: 0;
		top: 88%;
		z-index: 101;
	}
}
