body{
  font-size: 14px;
  font-weight: 600;
  color: $dark-900;
  line-height: 140%;
  font-family: 'Open Sans','Arial', sans-serif;
}

.container{
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 15px;
}

.logo{
  margin-right: 41px;
}

.btn{
  position: relative;
  text-align: center;
  border: 1px solid transparent;
  cursor: pointer;
  padding: 12px 24px;
  border-radius:6px ;
  transform:translateX(-50%) ;
  right: -50%;
}

.title{
  display: block;
  font-size: 32px;
  @extend %ruda-600;
  text-align: center;
  margin-bottom: 32px;
  text-transform: uppercase;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

//slider 
.slick-prev,
.slick-next{
  background-color: rgba(255, 255, 255, 0.8);
  border:transparent;
  padding: 0;
  cursor: pointer;
  position: absolute;
  top: 50%;
  z-index: 99;
  transform: translateY(-50%);
  width: 60px;
  height: 60px;
  border-radius: 6px;
  text-align: center;
}

.slick-prev{
  left:60px;
}
.slick-next{
  right: 60px;
}

.slider-next__img,
.slider-prev__img{
  display: inline-block;
  width: 18px;
  height: 32px;
}


.vertical-line{
  width: 100%;
  border:none ;
  background-color: #2B2F26;
}

.mixitup-control-active{
  transition-delay: .7s;
  transition: all .3s linear;
  &:active{
  position: relative;
  transition-delay: .7s;
  transition: all .3s linear;
  &::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: $green-200;
  right: 0;
  left: 0;
  bottom: 1px;
  }
}
}

.stock-stars{
  padding-right: 40px;
  &__img{
  background-image: url('../images/star.svg');
  width: 16px;
  height: 16px;
  background-position: 22px center;
  background-size: 16px;
  background-repeat: no-repeat;
}
}
.mixitup-btn{
  @extend %mix-btn;
  transition: color 0.3s ease-in-out  ,box-shadow 0.5s ease-out ;
  &:hover{
    color: $green-900;
  }
  &:focus{
    box-shadow: 0 0 0 3px $green-200;
    border-radius: 3px;
  }
  
}

.slick-slider{
  button{
    transition:  box-shadow .6s ease-in-out, ;
    &:focus{
      box-shadow: 0 0 0 3px rgba(99, 166, 14, 0.5);
      border-radius: 6px;
    }
    &:hover{
      background-color:$green-200 ;
    }
    img{
      &:hover{
        background-color: $green-900;
      }
    }
  }
}

