@media(max-width:1440px) {

  .header{
    &-link{
      margin-right: 46px;
      font-size: 21px;
    }
    &-elem{
      &:not(:last-child){
        margin-right: 67px;
      }
      &__img{
          height: 32px;
          width: 32px;
        }
      }
    }

  .search{
    &-label{
      font-size: 26px;
    }
    &-info {
      padding-top: 180px;
      max-width: 1236px;
      margin: 0 auto ;
  }
  }

  .container {
    max-width: 1307px;
  }

  .logo-img{
    width: 66px;
    height: 66px;
  }
}

@media(max-width:1025px) {

  .header {
    &-link {
      font-size: 26px;
      margin-right: 36px;
    }

    &-elem {
      &:not(:last-child) {
        margin-right: 46px;
      }
      &__img {
        width: 32px;
        height: 32px;
      }
    }
  }

  .search{
    padding-top: 78px;
    &-info{
      max-width: 875px;
    }
    &-input{
      padding-top: 3px;
      background-size: 25px;
      background-position: 17px center;
      width: 322px;
      height: 58px;
      &::placeholder{
        color: $placeholder;
        font-size: 22px;
        line-height: 120%
      }
    }
  }

  .logo-img {
    width: 45px;
    height: 45px;
  }

  .container {
    max-width: 980px;
  }

}

@media(max-width:768px) {

  .header{
    &-link{
      margin-right: 36px;
      font-size: 16px;
    }
    &-elem{
      &:not(:last-child){
        margin-right: 52px;
      }
      &__img{
       
          height: 27px;
          width: 27px;
        }
      }
    }

    .logo-img{
      width: 43px;
      height: 43px;
    }
  }

@media(max-width:576px) {

  .header {
    &-elem:not(:last-child) {
      margin-right: 34px;
    }

    &-link {
      font-size: 26px;
      margin-right: 36px;
    }
  }

}

@media(max-width:428px) {

  .header{
    padding-top: 21px;
    &-input{
      display: block;
    }
    &-requisities{
      display: none;
    }
    &-menu{
      display: block;
      @extend %background;
      background-image: url('../img/arrow-menu.png');
      border: transparent;
      background-color: transparent;
      width: 34px;
      height: 34px;
      padding: 0;
      cursor: pointer;
    }
    &-elem{
      &__img{
        width: 48px;
        height: 48px;
      }
  }
  }
}