@media(max-width:1440px) {

  .header{
    &-link{
      margin-right: 46px;
      font-size: 21px;
    }
    &-elem{
      &:not(:last-child){
        margin-right: 67px;
      }
      &__img{
          height: 32px;
          width: 32px;
        }
      }
    }

  .search{
    &-label{
      font-size: 26px;
    }
    &-info {
      padding-top: 180px;
      max-width: 1236px;
      margin: 0 auto ;
  }
  }

  .container {
    max-width: 1307px;
  }

  .logo-img{
    width: 66px;
    height: 66px;
  }
}

@media(max-width:1025px) {

  .header {
    &-link {
      font-size: 26px;
      margin-right: 36px;
    }

    &-elem {
      &:not(:last-child) {
        margin-right: 46px;
      }
      &__img {
        width: 32px;
        height: 32px;
      }
    }
  }

  .search{
    padding-top: 78px;
    &-info{
      max-width: 875px;
    }
    &-input{
      padding-top: 3px;
      background-size: 25px;
      background-position: 17px center;
      width: 322px;
      height: 58px;
      &::placeholder{
        color: $placeholder;
        font-size: 22px;
        line-height: 120%
      }
    }
  }

  .logo-img {
    width: 45px;
    height: 45px;
  }

  .container {
    max-width: 980px;
  }

}

@media(max-width:768px) {

  .header{
    &-link{
      margin-right: 36px;
      font-size: 16px;
    }
    &-elem{
      &:not(:last-child){
        margin-right: 52px;
      }
      &__img{
       
          height: 27px;
          width: 27px;
        }
      }
    }

    .logo-img{
      width: 43px;
      height: 43px;
    }
  }

@media(max-width:576px) {

  .header {
    &-elem:not(:last-child) {
      margin-right: 34px;
    }

    &-link {
      font-size: 26px;
      margin-right: 36px;
    }
  }

}

@media(max-width:428px) {

  .header{
    position: relative;
    padding-top: 21px;
    &-input{
      display: block;
      &__none{
        z-index: -11;
          &::placeholder{
            color: transparent;
          }
      }
    }
    &-requisities{
      display: none;
    }
    &-menu__btn{
      display: block;
      background-image: url('../img/arrow-menu.png');
      border: transparent;
      background-color: transparent;
      width: 34px;
      height: 34px;
      padding: 0;
      left: 14px;
      top: 22px;
      cursor: pointer;
      transition: transform 350ms linear;
      &--active{
        transform:rotateY(-180deg) ;
      }
    }
    &-elem{
      &__img{
        width: 48px;
        height: 48px;
      }
  }
  &__active{
    background-color: $main-text;
  }
  }

.menu{
  &-item{
    padding: 34px 15px 0 0;
    &:last-child{
      margin-bottom: 222px;
    }
    }
   &:first-child{
    padding: 15px 15px 0 0;
   }
  }
	&-list{		
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: right;
    display: block;
    position: absolute;
    height: 92vh;
    left: 0;
    right: 0;
    top: 75px;
    background-color: $main-text;
    transform: translateX(-225%);
    transition: all 350ms;
  }
  &-link{
    position: relative;
    display: block;
    color: $white;
    &__footer-text{
      font-size: 20px;
      color: $menu-color;
      bottom: 0;
      &--active{
        display: block;
      }
    }   
    &::before{
      content: "";
      position: absolute;
      display: block;
      width: 295px;
      border-bottom: 2px solid  $white;
      bottom: -4px;
      right: 0;
    
    } 
  }
  &-list.menu-list__active{
    transform: translateX(0%);
  }
}

.logo{
  &-none{
    z-index: -11;
  }
}
