$main:#FFDEDE;
$main-text:#FFC7C7;
$black:#000000;
$white:#fff;
$white-card:#F6F5F5;
$placeholder:#858585;
$label:#949494;
$grey2:#4F4F4F;
$card-text: #605858;
$add_color:#D4AFAF;

%roboto-400{
  font-family: 'Roboto-Regular',sans-serif;
  font-weight: 400;
}

%roboto-500{
  font-family: 'Roboto-Medium',sans-serif;
  font-weight: 500;
}

%input-find{
  position: relative;
  text-align: center;
  background-image: url("../img/search.png");
  background-repeat: no-repeat;
  border: 1.3px solid #3A3030;
  border-radius: 30px;
  margin-bottom: 23px;
  box-shadow: 5.26265px 7.45542px 0.438554px -0.438554px rgba(149, 149, 149, 0.25);
}