$green-900:#63A60F;
$green-200:#E0EDCF;
$green-100:#EFF6E7;
$dark-900:#121212;
$dark-800:#31352B;
$dark-500:#505050;
$red-900:#CF3E3B;
$orange-900:#FF7A00;
$silver-100:#F6F6F6;
$white:#FFFFFF;
$card-border:rgba(17, 17, 17, 0.2);
$slider-bg:rgba(255, 255, 255,0.8);
$hover-menu:rgba(255, 255, 255,0.1);
$card-grey:#C1C1C1;
$silver-100:#F6F6F6;
$black:#000000 ;


%opensans-300{
  font-family: 'OpenSans-Light',sans-serif;
  font-weight: 300;
}
%opensans-400{
  font-family: 'OpenSans-Regular',sans-serif;
  font-weight: 400;
}
%opensans-600{
  font-family: 'OpenSans-SemiBold',sans-serif;
  font-weight: 600;
}
%opensans-700{
  font-family: 'OpenSans-Bold',sans-serif;
  font-weight: 700;
}

%ruda-400{
  font-family: 'Ruda-Regular',sans-serif;
  font-weight: 400;
}

%ruda-600{
  font-family: 'Ruda-SemiBold',sans-serif;
  font-weight: 600;
}
%ruda-700{
  font-family: 'Ruda-Bold',sans-serif;
  font-weight: 700;
}

%background{  
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

%badge{
  color: $white;
  padding: 3px 6px;
  text-align: center;
  @extend %opensans-700;
  font-size: 10px;
  line-height: 100%;
  border-radius: 6px;
  padding: 3px 6px;
  text-align: center;
}

%input-hidden{
  clip: rect(0 0 0 0);
  overflow: hidden;
  width: 1px;
  height: 1px;
  position: absolute;
}

%btn{
  position: relative;
  text-align: center;
  border: 1px solid transparent;
  cursor: pointer;
  padding: 12px 24px;
  border-radius:6px ;
  transform:translateX(-50%) ;
  right: -50%;
}

%mix-btn{
  color: $dark-500;
  @extend %opensans-700;
  font-size: 15px;
  border:transparent;
  background-color: transparent;
  cursor: pointer;
}

%item-border{
  &:hover{
    border: 1px solid $green-900;
    transition:border 475ms steps(4 ,end);
  }
}

%catalog-line{
  display: block;
  position: absolute;
  content: "";
  right: 0;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  z-index: 200;
}