@import "reset";
@import 'vars';
@import 'fonts';
@import 'mixins';
@import 'global';
@import 'plugins';


.header{
  padding-top: 58px;
  &-wrapper{
    display: flex; 
    justify-content: space-between;
    align-items: center;
  }
  &-requisities{
    display: flex;
    align-items: center;
  }
  &-social{
    display: flex;
  }
  &-link{
    font-size: 28.5px;
    color:$black ;
    margin-right:44px;
  }
  &-elem{
    &:not(:last-child){
      margin-right: 67px;
    }
  }
  &-input{
    display: none;
    max-width: 214px;
    height:38px ;
    background-size: 19px;
    background-position: 12px center;
    padding:7px 57px 0 57px;
    @extend %input-find;
    &::placeholder{
      color: $placeholder;
      font-size: 18px;
      line-height: 120%
    }
  }
  &-menu{
    display: none;
  }
}

.search{
  padding-top: 109px;
   &-input{
    height: 65px;
    width: 364px;
    padding-top: 12px;
    background-size: 33px;
    background-position: 20px center;
    margin-bottom: 23px;
    @extend %input-find;
     &::placeholder{
       color: $placeholder;
       font-size: 30px;
       line-height: 120%
     }
   }
   &-form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-bottom: 66px;
   }
   &-label{
    color:$label;
    font-size: 36px;
    line-height: 100%;
   }
   &-info{
     padding-top: 209px;
     max-width: 1236px;
     margin: 0 auto;
     margin-bottom: 52px;
     &__top{
       display: flex;
       justify-content: space-between;
       margin-bottom: 21px;
       padding-right: 76px;
     }
     &__bottom{
      &-wrapper{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-columns: repeat(2,1fr);
        grid-row-gap:122px;
        grid-column-gap:168px;
      }
     }
     &__form{
       display: flex;
       &-item{
         display: flex;
         align-items: center;
        &:not(:last-child){
          margin-right: 36px;
        }
       }
  
     }
     &__input{
       position: relative;
       border: 1.3px solid #3A3030;
       background-color: transparent;
       width: 26px;
       height: 28px;
       border-radius: 2px;
       margin-right: 4px;
       background-color: transparent;
     }
     &__add{
       @extend %roboto-700;
       font-size: 60px;
       color: $add_color;
       text-align: center;
     }
   }
  &-filter{
    color: $grey2;
    font-size: 16px;
    border-radius: 6px;
    border:transparent;
    width: 120px;
    height: 40px;
  }
}

.search{
  &-card{
    border-radius: 36px;
    width: 547px;
    height: 292px;    
    padding: 36px 51px 43px 56px;
    box-shadow: 6px 7px 2px 4px rgba(108, 100, 100, 0.25);
    background-color: $white-card;
    &__name{
      align-self: center;
    }
    &__img{
      margin-right: 30px;
    }
    &__rate{
      font-size: 36px;
      @extend %roboto-400;
      color: $card-text;
      margin-right: 4px;
    }
    &__wrapper{
      display: flex;
      flex-direction: column;
      &-top{
        display: flex;
        margin-bottom: 24px;
      }
      &-bottom{
        display: flex;
        justify-content: space-between;
        font-size: 30px;
        @extend %roboto-400;
        color: $card-text;
        padding: 0 8px;
      }
    }
    &__rating{
      display: flex;
      width: 140px;
      height: 22px;
      &-wrapper{
        display: flex;
        align-items: center;
      }
    }
    &__stars{
      position: relative;
      z-index: 22;
      background-image: url('../img/Star.png');
      background-repeat: no-repeat;
      background-size:cover;
      width: 22px;
      height: 22px;
      &:not(:last-child){
        margin-right: 8px;
      }
    }
    &__title{
      display: inline-block;
      font-size: 64px;
      @extend %roboto-400;
      color: $card-text;
    }
  }
}

.footer{
  padding:154px 0 39px 0;
  &-inner{
    display: flex;
    justify-content: space-between;
  }
  &-text{
    @extend %roboto-400;
    color: $main-text;
    font-size: 36px;
    padding-left: 66px;
  }
  &-contacts{
    display: flex;
    justify-self: flex-end;
    padding-right: 61px;
    &__text{
      @extend %roboto-400;
      color: $main-text;
      font-size: 36px;
      &:not(:last-child){
        margin-right: 61px;
      }
    }
  }
}

@import 'project';
@import 'media';